:root {
  --c-brand: #2e8bee;
  --c-brand-light: #2e8bee;

  --c-text-accent: #2e8bee;

  --c-tip: #2e8bee;
}

html.dark {
  --c-brand: #2e8bee;
  --c-brand-light: #2e8bee;

  --c-text-accent: #2e8bee;

  --c-tip: #2e8bee;
}
