:root {
  scroll-behavior: smooth;
  font-size: 1.1rem;

  // brand colors
  --c-brand: #2e8bee;
  --c-brand-light: #2e8bee;

  // text colors
  --c-text-accent: #2e8bee;

  // custom container colors
  --c-tip: #2e8bee;

  // font vars
  --font-family: "Source Sans Pro", sans-serif;
  --font-family-code: "Source Code", monospace;
}

html.dark {
  // brand colors
  --c-brand: #2e8bee;
  --c-brand-light: #2e8bee;

  // text colors
  --c-text-accent: #2e8bee;

  // custom container colors
  --c-tip: #2e8bee;
}

body {
  font-size: 1rem;
}
